In [ ]:
"""Write a Python function to find the largest (max) of three numbers.

For example, the max of these three numbers (20, 35, 19) is 35."""

In [ ]:
def maxtwo(a,b):
  if a>b:
    return a
  return b
def maxthree(a,b,c):
  return maxtwo(a,maxtwo(b,c))
print(maxthree(20,35,19))

35

In [ ]:
"""Write a function calculation() so it can accept two variables and calculate the addition and subtraction of them. It must return both addition and subtraction in a single return call.

For example:

calculation(40, 10) should produce 50, 30"""

In [ ]:
num1=int(input("First value: "))
num2=int(input("Second value: "))

print((num1+num2,num1-num2))

First value: 40
Second value: 10
(50, 30)

In [ ]:
"""Write a function that sums the elements of a list of integers."""

In [ ]:
mylist=[0,1,2,3,4]
total=sum(mylist)

print(total)

10

In [ ]:
"""Write a function that multiplies the elements of an integer list."""

In [ ]:
mylist=[1,2,3,4]
result=1

for x in mylist:
  result=result*x

print(result)

24

In [ ]:
"""Use the two functions to sum the elements whose position is an even number (0,2,4â€¦) and multiply the rest."""

In [ ]:
total=0
for i in range(10):
  if i%2==0:
    total += i
  else:
    if i%2!=0:
      result=result*x

print("the total is", total)
print("the result is", result)

the total is 20
the result is 24576

In [ ]:
"""Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically"""

In [ ]:
print("Enter a hyphen seperated sequence of words: ")
list=[n for n in input().split('-')]
list.sort()
print("sorted string is: ")
print('-'.join(list))

Enter a hyphen seperated sequence of words:
green-red-yellow-black-white
sorted string is:
black-green-red-white-yellow

In [ ]:
"""Write a function that calculates and prints the value according to the given formula: Q = square root of [(2 * C * D)/H].
 Following are the fixed values of C and H: C is 50, and H is 30. D is the variable whose values should be input to your program in a comma-separated sequence.
  Example: Let us assume the following comma-separated input sequence is given to the function: 100,150,180. """